<!-- Modal -->

<app-header></app-header>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Chi Tiết Sản Phẩm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div *ngIf="getByIdProduct">
        <h2>{{ getByIdProduct.TenSanPham }}</h2>
        <p>{{ getByIdProduct.MoTaSanPham }}</p>
        <p>Giá: {{ getByIdProduct.Gia | currency:'USD':'symbol':'1.2-2' }}</p>

        <!-- Hiển thị ảnh sản phẩm -->
        <div *ngFor="let img of listImg">
            <img [src]="img.url" alt="Product Image" />
        </div>

        <!-- Thêm các thông tin khác nếu cần -->
    </div>

    <!-- Nếu không có thông tin sản phẩm -->
    <div *ngIf="!getByIdProduct">
        <p>Sản phẩm không tồn tại hoặc có lỗi khi tải thông tin.</p>
    </div>

    <!--   <table class="table" *ngIf="getByIdProduct">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>-->
</div>
<!-- End Breadcrumbs -->

<!-- Modal end -->
<h3>skjdkjsdf</h3>
<app-newsletter></app-newsletter>
<app-footer></app-footer>